footer {
    color: #5e5e5e;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    width:100%;
    font-size: 12px;
    
}

body {
    font-family: tahoma; 
    font-size: smaller;
    margin: 0;
    padding: 20px;
    background-image: url("cloud.jpg");
    background-color: #e0e0e0;
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    color: #6c3f61;
    margin-bottom: 20px;
}

#feedback-link {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    font-size: small;
    color: #6c3f61;
}

#feedback-link:hover {
    text-decoration: underline;
}

h2 {
    color:#533B4D;
    text-align: left;
}

#search {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #514749;
    border-radius: 4px;
    background-color:#fdebd5;
}

#nursing-rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: #f8b1c5;
    width: 60%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    
}

.card h2 {
    margin-top: 0;
    color: #533B4D;
}

.icon {
    vertical-align: middle;
    color: #533B4D;
    padding: 2px;
}

form {
    margin: 0 auto;
    background-color: #f8b1c5;
    width: 400px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;

}

form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

form input[type="text"],
form input[type="email"],
form textarea {
    width: 95%;
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

form input[type="submit"] {
    background-color: #6c3f61;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form input[type="submit"]:hover {
    background-color: #603956;
}

