footer {
    color: #5e5e5e;
    padding: 10px 0;
    text-align: center;
    bottom: 0;
    width:100%;
    font-size: 12px;
    
}

body {
    font-family: tahoma; 
    font-size: smaller;
    margin: 0;
    padding: 20px;
    background-image: url("cloud.jpg");
    background-color: #e0e0e0;
    text-align: center;
    margin-bottom: 50px;
}

h1 {
    color: #7F55B1;
    margin-bottom: 20px;
}

.form-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    font-size: small;
    background-color: #7F55B1;
    color:#ededed;
    border: 1px solid #858585;
    border-radius: 4px;
    padding: 8px 8px; 
    box-shadow: 0 5px 6px rgba(36, 35, 35, 0.1);
}

.form-btn:hover {
    background-color: #533B4D;
}

h2 {
    color:#7F55B1;
    text-align: left;
}

#search {
    width: 40%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #858585;
    border-radius: 4px;
    box-shadow: 0 5px 6px rgba(36, 35, 35, 0.1);
    background-color:#ededed;
}

#nursing-rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: #ededed;
    width: 50%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 5px 6px rgba(36, 35, 35, 0.1);
    text-align: left;
    
}

.card h2 {
    margin-top: 0;
    color: #9B7EBD;
}

.icon {
    vertical-align: middle;
    color: #7F55B1;
    padding: 2px;
}

.condition-excellent {
    color: rgb(0, 125, 0);
    font-weight: bold;
}

.condition-good {
    color: rgb(224, 146, 0);
    font-weight: bold;
}

.condition-average {
    color: rgb(0, 0, 148);
    font-weight: bold;
}


