body {
    font-family: tahoma; 
    margin: 0;
    padding: 20px;
    background-image: url("cloud.jpg");
    text-align: center;
}

h1 {
    color: #6c3f61;
}

h2 {
    color:#533B4D;
    text-align: left;
}

#search {
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #514749;
    border-radius: 4px;
    background-color:#fdebd5;
}

#nursing-rooms {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.card {
    background-color: #FAA4BD;
    width: 60%;
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.card h2 {
    margin-top: 0;
    color: #533B4D;
}

.icon {
    vertical-align: middle;
    color: #533B4D;
    padding: 2px;
}
